.daily-img{
  height: 200px;
  width: auto;
  margin-left: 50px;
  margin-top: 10px;
}

.exercise-info{
  margin-left: 50px;
}

.exercise-card{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border: 2px solid black;
  border-radius: 25px;
  height: 200px;
}

.card-text{
  margin-left: 10px;
}

.notes-card{
  height: 210px;
}

.card-spacing{
  margin-bottom: 10px;
}